#player-1 {
    background-color: #2596be;
    height: 100vh;
}

#player-2 {
    background-color: #be2525;
    height: 100vh;
}

@media screen and (max-width:766px) {
    #player-1 {
        height: 50vh;
        touch-action: none;
    }

    #player-2-text {
        transform: rotate(180deg);
    }
    
    #player-2 {
        height: 50vh;
        touch-action: none;
    }

    .fixed-top {
        top:50vh;
    }
}